@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-50;
    }
}

html {
    scroll-behavior: smooth;
}

/* Estilos de la barra de desplazamiento en modo claro (default) */
html {
    /* Para Firefox */
    scrollbar-color: #e2e8f0 #f7fafc; /* thumb-color track-color */
    scrollbar-width: thin;
}

/* Para navegadores basados en Webkit (Chrome, Safari, Edge) */
html::-webkit-scrollbar {
    width: 12px;
}

html::-webkit-scrollbar-track {
    background-color: #f7fafc; /* Tailwind gray-50 */
}

html::-webkit-scrollbar-thumb {
    background-color: #e2e8f0; /* Tailwind gray-200 */
    border-radius: 9999px;
    border: 3px solid #f7fafc; /* Borde para el efecto de separación */
}

/* Estilos de la barra de desplazamiento en modo oscuro */
html.dark {
    /* Para Firefox */
    scrollbar-color: #4a5568 #1a202c; /* thumb-color track-color */
}

/* Para navegadores basados en Webkit (Chrome, Safari, Edge) */
html.dark::-webkit-scrollbar {
    width: 12px;
}

html.dark::-webkit-scrollbar-track {
    background-color: #1a202c; /* Tailwind gray-900 */
}

html.dark::-webkit-scrollbar-thumb {
    background-color: #4a5568; /* Tailwind gray-600 */
    border-radius: 9999px;
    border: 3px solid #1a202c; /* Borde para el efecto de separación */
}
